<div class="position-relative overflow-hidden text-center" style="background-color: #dddddd;">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Keep your budgets simple with BudgetApp</h1>
    <p class="lead font-weight-normal">With BudgetApp you can easily track your incomes or expenses with as many accounts as you like.</p>
    <a class="btn btn-outline-secondary" [routerLink]="['/login']">Lets start</a>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 mb-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Upcoming transactions</h2>
      <p class="lead">Always know what is come next. Track your upcoming incomes or expenses with BudgetApp.</p>
    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #aeaeae;">
    <div class="my-3 p-3">
      <h2 class="display-5">Reports</h2>
      <p class="lead">With the reports you can easily see how much money did you spent.</p>
    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background-color: #1794d2;">
    <div class="my-3 py-3">
      <h2 class="display-5">Goals</h2>
      <p class="lead">Set goals for you with BudgetApp, and track how much money you earned.</p>
    </div>
  </div>
</div>