<div class="container d-flex justify-content-center mt-5">
    <button type="button" class="btn btn-primary fs-4">Add new goal</button>
</div>

<div class="my-3" name="goalsPane">
    <div class="mb-3" name="annualPane">
        <h1 class="fs-3 ms-3">Annual goals</h1>
        <select class="form-select my-3 ms-5 fs-5" aria-label="Default select example" style="width: fit-content;">
            <option value="account">2023</option>
        </select>
        <div class="overflow-auto" style="max-height: 200px;">
            <div *ngFor="let _ of [].constructor(5)" class="border border-dark overflow-auto m-3 w-75 mx-auto">
                <div class="d-flex">
                    <div class="d-flex align-items-center border border-dark py-2 ps-3 pe-3">
                        <p class="m-0">Category</p>
                    </div>
                    <div class="border border-dark py-2 ps-3 pe-3 text-center">Goal: <br>100 000 Ft</div>
                </div>
                <div class="p-3">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.background-color]="isIncome ? 'green' : 'red'"
                        [style.width]="percentage + '%'">25 000 Ft</div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    <div name="monthlyPane">
        <h1 class="fs-3 ms-3">Monthly goals</h1>
        <div class="d-flex">
            <select class="form-select my-3 ms-5 fs-5" aria-label="Default select example" style="width: fit-content;">
                <option value="account">2023</option>
            </select>
            <select class="form-select my-3 ms-2 fs-5" aria-label="Default select example" style="width: fit-content;">
                <option value="account">January</option>
            </select>
        </div>
        <div class="overflow-auto" style="max-height: 200px;">
            <div *ngFor="let _ of [].constructor(5)" class="border border-dark overflow-auto m-3 w-75 mx-auto">
                <div class="d-flex">
                    <div class="d-flex align-items-center border border-dark py-2 ps-3 pe-3">
                        <p class="m-0">Category</p>
                    </div>
                    <div class="border border-dark py-2 ps-3 pe-3 text-center">Goal: <br>100 000 Ft</div>
                </div>
                <div class="p-3">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.background-color]="isIncome ? 'green' : 'red'"
                        [style.width]="percentage + '%'">25 000 Ft</div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>