<div class="col-md-6 offset-md-3 mt-4" class="was-validated">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <h1 class="h3 mb-3 fw-normal text-center">Please login</h1>
        <div class="form-floating pb-3">
            <input type="email" name="email" ngModel required email="true" class="form-control" id="floatingEmail" placeholder="name@example.com">
            <label for="floatingEmail">Email address</label>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-floating pb-3">
            <input type="password" name="password" ngModel required class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="f.invalid">Login</button>
    </form>
</div>
