<div *ngIf="accountId==-1" class="row justify-content-center" style="margin-top: 30px;">
    <div class="fs-3 text-center">There aren't any account added yet.</div>
    <div class="fs-5 text-center">Please add new account in the <a [routerLink]="['/profile']">Profile</a> page.</div>
</div>

<div *ngIf="accountId!=-1">
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-7 mb-3 d-flex align-items-center justify-content-center">
            <div class="text-center p-2"
                style="background-color: rgba(23, 148, 210, 0.7); width:80%; height: 250px; border-radius: 20px;"
                name="balanceComponent">
                <div class="d-flex flex-column justify-content-center align-items-center h-100">
                    <p class="fs-3 fw-bold my-2">Account:</p>
                    <p class="p-2 fs-5 mb-2" name="accountField"
                        style="background-color: rgba(174, 174, 174, 0.7); border-radius: 30px;">
                        {{account.accountNumber}} {{account.accountName}}
                    </p>
                    <p class="fs-3 fw-bold mb-2">Balance:</p>
                    <p class="p-2 mb-3 fs-3 fw-bold" name="balanceField"
                        style="background-color: rgba(174, 174, 174, 0.7); border-radius: 30px;">
                        {{thousandSeparator.transform(balance)}} Ft
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-3 d-flex align-items-center justify-content-center">
            <div class="text-center p-2"
                style="background-color: rgba(174, 174, 174, 0.7); width:80%; height: 200px; border-radius: 20px;"
                name="balanceComponent">
                <div class="d-flex flex-column justify-content-center align-items-center h-100">
                    <p class="fs-3 fw-bold mb-2">Upcoming in next month:</p>
                    <p class="p-2 mb-3 fs-3 fw-bold" name="balanceField"
                        style="background-color: rgba(23, 148, 210, 0.7); border-radius: 30px;">
                        {{thousandSeparator.transform(upcoming)}} Ft
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-primary fs-4" data-bs-toggle="modal"
            data-bs-target="#addTransactionModal">Add
            income/expense</button>
    </div>

    <div class="my-3" name="transactionsPane">
        <div name="upcomingPane">
            <h1 class="fs-3 ms-3">Upcoming:</h1>
            <div *ngIf="upcomingTransactions.length==0" class="row justify-content-center">
                <div class="col-md-6 fs-5 text-center">There aren't any upcoming transactions yet.</div>
            </div>
            <div>
                <div *ngFor="let upcomingTransaction of upcomingTransactions" class="row mx-auto p-2 mt-2 mb-2"
                    style="background-color:rgb(174, 174, 174,0.7); border-radius: 20px; width: 90%;">
                    <div class="col">
                        <p class="text-center pb-2 pt-2 m-0">{{upcomingTransaction.transactionName}}</p>
                    </div>
                    <div class="col">
                        <p class="text-center pb-2 pt-2 m-0">{{upcomingTransaction.category}}</p>
                    </div>
                    <div class="col">
                        <p class="text-center pb-2 pt-2 m-0">{{upcomingTransaction.upcomingDate | date: 'yyyy-MM-dd'}}
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="text-center pb-2 pt-2 m-0 rounded fw-bold"
                            [style.color]="upcomingTransaction.amount!>0 ? 'green' : 'red'"
                            style="background-color: rgb(174, 174, 174,0.9);">
                            {{thousandSeparator.transform(upcomingTransaction.amount ?? 0)}} Ft</p>
                    </div>
                    <div class="p-0" style="width: fit-content;">
                        <button type="button" class="btn btn-danger pb-2 pt-2 m-0" [value]="upcomingTransaction"
                            (click)="removeTransaction(upcomingTransaction)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div name="bookedPane">
            <h1 class="fs-3 ms-3">Booked transactions:</h1>
            <div *ngIf="bookedTransactions.length==0" class="row justify-content-center">
                <div class="col-md-6 fs-5 text-center">There aren't any booked transactions yet.</div>
            </div>
            <div class="row justify-content-end mb-3">
                <div class="col-md-3" style="min-width: 100px;">
                    <select class="form-select" (change)="getBookedTransactions($any($event.target).value)"
                        style="background-color: rgba(206, 206, 206, 0.7); min-width: 200px;">
                        <option value="thisMonth">This month</option>
                        <option value="lastMonth">Last month</option>
                        <option value="all">All transaction</option>
                    </select>
                </div>
            </div>
            <div>
                <div *ngFor="let bookedTransaction of bookedTransactions" class="row mx-auto p-2 mt-2 mb-2"
                    style="background-color:rgb(174, 174, 174,0.7); border-radius: 20px; width: 90%;">
                    <div class="col">
                        <p class="text-center pb-2 pt-2 m-0">{{bookedTransaction.transactionName}}</p>
                    </div>
                    <div class="col">
                        <p class="text-center pb-2 pt-2 m-0">{{bookedTransaction.category}}</p>
                    </div>
                    <div class="col">
                        <p class="text-center pb-2 pt-2 m-0">{{bookedTransaction.postedDate | date: 'yyyy-MM-dd'}}</p>
                    </div>
                    <div class="col-4">
                        <p class="text-center pb-2 pt-2 m-0 rounded fw-bold"
                            [style.color]="bookedTransaction.amount!>0 ? 'green' : 'red'"
                            style="background-color: rgb(174, 174, 174,0.9);">
                            {{thousandSeparator.transform(bookedTransaction.amount ?? 0)}} Ft</p>
                    </div>
                    <div class="p-0" style="width: fit-content;">
                        <button type="button" class="btn btn-danger pb-2 pt-2 m-0" [value]="bookedTransaction"
                            (click)="removeTransaction(bookedTransaction)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <nav *ngIf="allTransactions" aria-label="Page navigation example">
                <ul class="pagination justify-content-center mt-3">
                    <li class="page-item"><a class="page-link" style="cursor: pointer;"
                            (click)="getFirstPage()">First</a></li>
                    <li class="page-item"><a class="page-link" style="cursor: pointer;" (click)="previousPage()">
                            <span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="page-item"><a class="page-link">{{currentPage}}</a></li>
                    <li class="page-item"><a class="page-link" style="cursor: pointer;" (click)="nextPage()">
                            <span aria-hidden="true">&raquo;</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" style="cursor: pointer;" (click)="getLastPage()">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<app-addtransaction-modal (addTransaction)="addTransaction($event)"></app-addtransaction-modal>