<div class="text-center border border-2 border-dark mx-auto" style="min-width: 300px; width: fit-content;"
    name="balanceComponent">
    <p class="fs-4 fw-bold my-2">Account:</p>
    <div class="container d-flex align-items-center justify-content-center">
        <p class="border border-2 border-dark p-2 mb-2" name="accountField">{{account.accountNumber}} {{account.accountName}}</p>
    </div>
    <p class="fs-4 fw-bold mb-2">Balance:</p>
    <div class="container d-flex align-items-center justify-content-center">
        <p class="border border-2 border-dark p-2 mb-3" name="balanceField">{{balance}} Ft</p>
    </div>
</div>

<div class="container d-flex justify-content-center mt-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTransactionModal">Add income/expense</button>   
</div>

<div class="my-3" name="transactionsPane">
    <div name="upcomingPane">
        <h1 class="fs-3 ms-3">Upcoming:</h1>
        <div class="container d-flex justify-content-center overflow-auto" style="max-height: 200px;">
            <table class="table table-fit m-3 w-75">
                <tbody>
                    <tr *ngFor="let upcomingTransaction of upcomingTransactions" class="border border-dark">
                        <td class="border border-dark align-middle text-center" style="width: 23%;">{{upcomingTransaction.transactionName}}</td>
                        <td class="border border-dark align-middle text-center" style="width: 18%;">{{upcomingTransaction.category}}</td>
                        <td class="border border-dark align-middle text-center" style="width: 18%;">{{upcomingTransaction.postedDate | date: 'yyyy-MM-dd'}}</td>
                        <td class="border border-dark align-middle text-center" style="width: 31%;">{{upcomingTransaction.amount}} Ft</td>
                        <td class="border border-dark align-middle text-center" style="width: 10%;">
                            <button type="button" class="btn btn-primary" [value]="upcomingTransaction" (click)="removeTransaction(upcomingTransaction)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div name="bookedPane">
        <h1 class="fs-3 ms-3">Booked transactions:</h1>
        <div class="container d-flex justify-content-center overflow-auto" style="max-height: 200px;">
            <table class="table table-fit m-3 w-75">
                <tbody>
                    <tr *ngFor="let bookedTransaction of bookedTransactions" class="border border-dark">
                        <td class="border border-dark align-middle text-center" style="width: 23%;">{{bookedTransaction.transactionName}}</td>
                        <td class="border border-dark align-middle text-center" style="width: 18%;">{{bookedTransaction.category}}</td>
                        <td class="border border-dark align-middle text-center" style="width: 18%;">{{bookedTransaction.postedDate | date: 'yyyy-MM-dd'}}</td>
                        <td class="border border-dark align-middle text-center" style="width: 31%;">{{bookedTransaction.amount}} Ft</td>
                        <td class="border border-dark align-middle text-center" style="width: 10%;">
                            <button type="button" class="btn btn-primary" [value]="bookedTransaction" (click)="removeTransaction(bookedTransaction)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-addtransaction-modal (addTransaction)="addTransaction($event)"></app-addtransaction-modal>

